# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dotenv environment variables
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# Build output
dist/
build/
coverage/

# IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Cloudinary temp files
public/resumes/
uploads/